1. scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78} Charlie의 점수를 출력하세요

In [1]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
print(scores['Charlie'])

78

2. person = {'name': 'Alice', 'age': 25} 주어졌을 때 이름과 나이를 출력하는 프로그램을 만드세요.

In [5]:
person = {'name': 'Alice', 'age': 25}
print("이름: ", person['name'])
print("나이: ", person['age'])

이름:  Alice
나이:  25

3. grades = {'math': 90, 'science': 85, 'english': 88} 주어진 딕셔너리의 과목의 합과 평균을 구해주세요

In [17]:
grades = {'math': 90, 'science': 85, 'english': 88}
a=[grades.get('math'), grades.get('science'), grades.get('english')]
print("과목의 합: ", a[0]+a[1]+a[2])
print("과목의 평균: ", (a[0]+a[1]+a[2])/3)

과목의 합:  263
과목의 평균:  87.66666666666667

4. employee = {'name': 'ken', 'position': 'Manager', 'salary': 5000} 에서 salary 요소를 삭제해 주세요

In [19]:
employee = {'name': 'ken', 'position': 'Manager', 'salary': 5000}
del employee['salary']
print(employee)

{'name': 'ken', 'position': 'Manager'}

5. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 "김치": 5000 을 추가해 주세요 |

In [22]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}
foods['김치'] = 5000
print(foods)

{'딸기': 1000, '사과': 2000, '수박': 3000, '김치': 5000}

6. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 수박이 있으면 True 를 출력하는 프로그램을 만드세요

In [23]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}
print('수박' in foods)

True