In [2]:
#1 평균 점수 구하기
grades={'국어': 80, '영어': 75, '수학': 55}
a=[grades.get('국어'), grades.get('영어'), grades.get('수학')]
print('홍길동의 평균 점수: ', (a[0]+a[1]+a[2])/len(a))

홍길동의 평균 점수:  70.0

In [63]:
#2 홀수, 짝수 판별하기
a=13
print(f'{a}이 홀수면 True, 짝수면 False: ',a%2==1)

13이 홀수면 True, 짝수면 False:  True

In [30]:
#3 주민등록번호 나누기
pin='881120-1068234'
yyyymmdd=pin[:6]
num=pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [33]:
#4 주민등록번호 인덱싱
pin='881120-1068234'
print(f'성별을 나타내는 숫자: {pin[7]} = 남자')

성별을 나타내는 숫자: 1 = 남자

In [34]:
#5 문자열 바꾸기
a='a:b:c:d'
b=a.replace(':', '#')
print(b)

a#b#c#d

In [38]:
#6 리스트 역순 정렬하기
a=[1,3,5,4,2]
a.sort()
a.reverse()
# a.sort(reverse=True)
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [65]:
#7 리스트를 문자열로 만들기
a=['Life', 'is', 'too', 'short']
result=" ".join(a)
print(result)

Life is too short

In [67]:
#8 튜플 더하기
a=(1,2,3)
a=a+(4,)
print(a)

(1, 2, 3, 4)

In [70]:
#9 딕셔너리의 키
a=dict()
print('처음: ', a)
a['name']='python'
print('1: ', a)
a[('a',)]='python'
print('2: ', a)
# a[[1]]='python'
# print('3: ', a)
a[250]='python'
print('4: ', a)

처음:  {}
1:  {'name': 'python'}
2:  {'name': 'python', ('a',): 'python'}
4:  {'name': 'python', ('a',): 'python', 250: 'python'}

In [54]:
#10 딕셔너리 값 추출하기
a={'A':90, 'B':80, 'C':70}
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [57]:
#11 리스트에서 중복 제거하기
a=[1,1,1,2,2,3,3,3,4,4,5]
aSet=set(a)
b=list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [58]:
#12 파이썬 변수
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]